:root {
  --accent-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --mine-header-text-color: #212121;
  --second-header-text-color: #757575;
  --mine-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #2196f3;
  --button-second-text-color: #ffffff;
  --button-first-text-color: #212121;
  --mine-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --icon-main-color: #afb1b8;
  --icon-second-color: #ffffff;
  --icon-accent-color: #2196f3;
  --card-set-gap: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-general {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-general {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.logo__accent {
  color: var(--accent-logo-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.footer__logo {
  color: var(--third-logo-color);
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.contact__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.header__contact {
  margin-left: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-second-text-color);
  text-align: center;
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.hero__btn {
  padding: 10px 32px;
  margin: 0 auto;
}

.footer-form__btn {
  padding: 10px 28px 10px 29px;
  margin: 0 auto;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  fill: currentColor;
}

.social__list {
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--icon-second-color);
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
  }
}

.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--mine-title-color);
  margin-bottom: 20px;
}

.social__link--icon-color {
  color: var(--icon-second-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0) rotate(360deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.checkbox__wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5px;
}

@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}

.checkbox__text span {
  width: 16px;
  height: 15px;
  margin-right: 8.4px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__check:checked + .checkbox__text span {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__check:checked + .checkbox__text .checkbox__icon {
  fill: var(--icon-second-color);
}

@media screen and (max-width: 1199px) {
  .checkbox__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
}

.modal {
  box-shadow: 0px 1px 3px rgba(141, 40, 40, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 90%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form__wrap {
  padding: 40px;
}

.modal-form__title {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--icon-accent-color);
}

.modal-form__user-text {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-text:focus {
  border-color: var(--accent-color);
}

.modal-form__user-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-second-text-color);
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn:hover {
  background-color: #188ce8;
}

.modal-form__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__close-btn:hover,
.modal-form__close-btn:focus + .modal-form__close-icon {
  fill: var(--icon-accent-color);
}

.header-main {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mine-header-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link.current {
  color: var(--accent-color);
}

.header-nav__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu__container {
  overflow-y: scroll;
  position: fixed;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  z-index: 999;
  transform: translateX(-101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: none;
  }
}

.mobile-menu__container.is-open {
  transform: translateX(0);
}

.mobail-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.mobile-menu__close:hover, .mobile-menu__close:focus {
  fill: var(--accent-color);
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--mine-header-text-color);
}

.mobile-menu-nav__link.current {
  color: var(--accent-color);
}

.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.mobile-menu-contact__tel:hover, .mobile-menu-contact__tel:focus {
  color: var(--accent-color);
}

.mobile-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.mobile-menu-contact__mail:hover, .mobile-menu-contact__mail:focus {
  color: var(--accent-color);
}

.mobile-menu-contact__list {
  margin-bottom: 64px;
}

.mobile-menu-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mobile-menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.mobile-menu-social__link:hover, .mobile-menu-social__link:focus {
  color: var(--accent-color);
}

.menu-contact__wrap {
  margin-top: auto;
}

.hero-main {
  background-color: #c4c4c4;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--mine-title-color);
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--mine-title-color);
    width: 696px;
  }
}

.hero-main__hero {
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .hero-main__hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-main__hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 768px) {
  .quality__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

@media screen and (max-width: 767px) {
  .quality__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .quality__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .quality__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}

.quality__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.quality-icon__wrap {
  margin-bottom: var(--card-set-gap);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.works-main {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .works-main {
    display: none;
  }
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.works__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  position: relative;
}

.works__item-title {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--mine-title-color);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-main {
  background-color: var(--second-background-color);
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.team__list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.team__list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.client__item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  max-width: 210px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
    max-width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-main-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: var(--icon-accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer__addres {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__addres {
    margin-right: 70px;
  }
}

.footer-main__footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main {
  background-color: var(--mine-background-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact-link:hover, .address__contact-link:focus {
  color: var(--accent-color);
}

.footer-form-wrap {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.footer-form__title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--mine-title-color);
  text-transform: uppercase;
}

.footer-form__input {
  width: 450px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__icon-btn {
  margin-left: 10px;
  fill: var(--icon-second-color);
}

.filter__list {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filter__item .filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--button-first-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item .filter__btn:hover, .filter__item .filter__btn:focus {
  color: var(--button-second-text-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.work-list__item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .work-list__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (max-width: 767px) {
  .work-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.owerlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  padding: 77px 24px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__item:hover .overlay__text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .overlay__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay__text {
    padding: 63px 24px;
  }
}

.work__text {
  padding: 20px 24px;
}

.work-text__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work-text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */