.header-main {
  border-bottom: 1px solid #ececec;
}

.header {
  @include flex;
}

.header-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  padding-bottom: 32px;
  padding-top: 32px;
  @include font(500, 14px, 1.14, 0.02em, var(--mine-header-text-color));
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
  &.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
