.filter__list {
  @media screen and(max-width: 767px) {
    margin-top: -15px;
  }
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter {
  @media screen and(max-width: 767px) {
    @include flex;
    flex-wrap: wrap;
  }
  &__item {
    @media screen and(max-width: 767px) {
      margin-top: 15px;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  @media screen and(min-width: 768px) {
    @include flex(flex, center, center);
  }
}

.filter__item .filter__btn {
  font-family: inherit;
  @include font(500, 16px, 1.62, 0.03em, var(--button-first-text-color));
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--button-second-text-color);
    background-color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.work-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.work-list__item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
  &:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.owerlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  padding: 77px 24px;
  height: 100%;
  @include font(400, 18px, 1.56, 0.03em, #ffffff);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .work-list__item:hover & {
    transform: translateY(0);
  }
  @media screen and(min-width: 768px) {
    padding: 49px 24px;
  }
  @media screen and(min-width: 1200px) {
    padding: 63px 24px;
  }
}

.work__text {
  padding: 20px 24px;
}

.work-text {
  &__text {
    @include font(400, 16px, 1.87, 0.03em, var(--main-text-color));
  }
  &__title {
    @include font(700, 18px, 2, 0.06em, var(--second-title-color));
    margin-bottom: 4px;
  }
}
