.works-main {
  @media screen and(max-width: 1200px) {
    display: none;
  }
  padding-top: 0;
}

.works {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  &__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    position: relative;
  }
  &__item-title {
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    @include font(700, 14px, 1.14, 0.03em, var(--mine-title-color));
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__title {
    @include font(700, 36px, 1.17, 0.03em, var(--second-title-color));
    text-align: center;
    margin-bottom: 50px;
  }
}
