.btn {
  @include flex;
  font-family: inherit;
  @include font(700, 16px, 1.87, 0.06em, var(--button-second-text-color));
  text-align: center;
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

.hero__btn {
  padding: 10px 32px;
  margin: 0 auto;
}

.footer-form__btn {
  padding: 10px 28px 10px 29px;
  margin: 0 auto;
}
