.checkbox__wrap {
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox {
  @include flex;
}

.checkbox__text {
  @media screen and(max-width:1199px) {
    @include font(400, 12px, 1.17, 0.03em, var(--main-text-color));
  }

  @include font(400, 14px, 1.71, 0.03em, var(--main-text-color));
  @include flex;
  margin-right: 5px;
  span {
    width: 16px;
    height: 15px;
    margin-right: 8.4px;
    border: 2px solid #212121;
    border-radius: 2px;
    @include flex(flex, center, center);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox__check:checked + & span {
    background-color: var(--accent-color);
    border: none;
  }
}

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox__check:checked + .checkbox__text & {
    fill: var(--icon-second-color);
  }
}

.checkbox__link {
  @media screen and(max-width: 1199px) {
    @include font(400, 12px, 1.17, 0.03em, #2196f3);
  }
  @media screen and(min-width: 1200px) {
    @include font(400, 14px, 1.71, 0.03em, #2196f3);
  }
}
