.social {
  @include flex(flex, center, center);
  &__icon {
    fill: currentColor;
  }
}

.social__list {
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--icon-second-color);
  }
}

.footer__social {
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.social__text {
  @include font(700, 14px, 1.14, 0.03em, var(--mine-title-color));
  margin-bottom: 20px;
}

.social__link--icon-color {
  color: var(--icon-second-color);
  background-color: rgba(255, 255, 255, 0.1);
}
