:root {
  --accent-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --mine-header-text-color: #212121;
  --second-header-text-color: #757575;
  --mine-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #2196f3;
  --button-second-text-color: #ffffff;
  --button-first-text-color: #212121;
  --mine-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --icon-main-color: #afb1b8;
  --icon-second-color: #ffffff;
  --icon-accent-color: #2196f3;
  --card-set-gap: 30px;
}
